<div class="col-md-1"></div>
<div class="col-md-10">
  <div class="row">
    <div class="col-md-4 chart-wrapper">
      <h4 class="chart-header">Bid difference. Today with yesterday</h4>
      <div class="absolute-chart-wrapper" absolute-bid-diff-chart portfolio_id="'3'">
        <p class="text-muted">Loading...</p>
      </div>
    </div>
    <div class="col-md-4 chart-wrapper">
      <h4 class="chart-header">Bid distribution</h4>
      <div class="absolute-chart-wrapper" absolute-bid-chart portfolio_id="'3'">
        <p class="text-muted">Loading...</p>
      </div>
    </div>
    <div class="col-md-4 chart-wrapper">
      <h4 class="chart-header">Bid difference. Scheduled with actual</h4>
      <div class="absolute-chart-wrapper" scheduled-bid-diff-chart portfolio_id="'3'">
        <p class="text-muted">Loading...</p>
      </div>
    </div>

  </div>
</div>
<div class="col-md-1"></div>
