<div class="col-md-1"></div>
<div class="col-md-10">
<accordion ng-init = "init()">
  <accordion-group ng-repeat = "portfolio in portfolios" heading = "{{portfolio.name}}">
    <h2 editable-text="portfolio.newName">{{portfolio.newName || portfolio.name}}</h2>
      <form>
        <div class="form-group">
          <label>Revenue per action</label>
          <input type="text" class="form-control" ng-model="portfolio.settings.RPA">
        </div>
        <div class="form-group">
          <label>Maximum allowed bid</label>
          <input type="text" class="form-control" ng-model="portfolio.settings.MaxBid">
        </div>
        <div class="form-group">
          <label>Campaigns</label>
          <div class="row table-wrapper">
            <table class="table ng-table-responsive" ng-table="portfolio.tableParams" show-filter='true'>
              <tr ng-repeat="campaign in $data">
                <td data-title="'Id'">{{campaign.id}}</td>
                <td data-title="'Name'" filter="{ 'name': 'text' }">{{campaign.name}}</td>
                <td data-title="'Account'"
                  filter="{ 'account_id' : 'select' }"
                  filter-data="accounts()"
                >{{campaign.account.name}}</td>
                <td data-title="'Status'"
                  filter="{ 'status': 'select' }"
                  filter-data="statuses"
                >{{campaign.status}}</td>
                <td header="'ng-table/headers/checkbox.html'">
                  <input type="checkbox" ng-model="portfolio.campaigns[campaign.id]"/>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <button type="button" class="btn btn-danger" ng-click="removePortfolio(portfolio)">Remove</button>
        <button type="button" class="btn btn-success" ng-click="updatePortfolio(portfolio)">Save</button>
      </form>
  </accordion-group>
  <accordion-group heading="Create new portfolio" is-open="true">

    <form>
      <div class="form-group">
        <label>Portfolio name</label>
        <input type="text" class="form-control" ng-model="portfolioUnderConstruction.name">
      </div>
      <div class="form-group">
        <label>Revenue per action</label>
        <input type="text" class="form-control" ng-model="portfolioUnderConstruction.settings.RPA">
      </div>
      <div class="form-group">
        <label>Maximum allowed bid</label>
        <input type="text" class="form-control" ng-model="portfolioUnderConstruction.settings.MaxBid">
      </div>
      <div class="form-group">
        <label>Campaigns</label>
        <div class="row table-wrapper">
          <table class="table ng-table-responsive" ng-table="portfolioUnderConstruction.tableParams" show-filter='true'>
            <tr ng-repeat="campaign in $data">
              <td data-title="'Id'">{{campaign.id}}</td>
              <td data-title="'Name'" filter="{ 'name': 'text' }">{{campaign.name}}</td>
              <td data-title="'Account'"
                filter="{ 'account_id' : 'select' }"
                filter-data="accounts()"
              >{{campaign.account.name}}</td>
              <td data-title="'Status'"
                filter="{ 'status': 'select' }"
                filter-data="statuses"
              >{{campaign.status}}</td>
              <td header="'ng-table/headers/checkbox.html'">
                <input type="checkbox" ng-model="portfolioUnderConstruction.campaigns[campaign.id]"/>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <button type="button" class="btn btn-success" ng-click="savePortfolio()">Save</button>
    </form>
  </accordion-group>
</accordion>
</div>
<div class="col-md-1"></div>
<script type="text/ng-template" id="ng-table/headers/checkbox.html">
        <label>Managed by Granny</label>
        <input type="checkbox" ng-model="select_all" id="select_all" name="filter-checkbox" value="" />
</script>
